/* CONTAINERS
---------------------------------------------------
*/
body {
    background-color: var(--secondary-clr);
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: sans-serif;
}
.container {
    min-height: 100vh;
    /* padding-top: 6em; */
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--bg-color);
    max-width: 100%;
    margin: auto;
    position: relative;
}

/* NAVIGATION
---------------------------------------------------
*/
nav {
    top: 0;
    padding: 1em;
    margin: 1em auto;
    border-radius: 25px;
    background-color: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav > * {
    padding: 0 1em;
}
h1 {
    font-style: italic;
    color: var(--primary-clr);
    font-weight: 600;
    font-size: 2em;
}

/* search-bar */
.search-bar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    border-radius: 2500px;
    padding: .5em 1em;
}
.search-bar:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px;
}
.search-bar i {
    padding-right: .25em;
    color: var(--primary-clr);
}
.search-bar input::placeholder {
    color: var(--primary-clr);
}
/* search-select */
.search-select {
    display: flex;
    justify-content: space-between;
}
.search-select > * {
    margin-left: 1em;
}
/* burger-menu */
.burger-menu {
    display: none;
    font-size: 2em;
    color: var(--primary-clr);
    cursor: pointer;
}
.burger-menu:hover {
    color: var(--secondary-clr);
}

/* MAIN
---------------------------------------------------
*/
.generated {
    padding-top: 7em;
}
.static {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.static .logo {
   max-width: 300px;

}
.static .text {
    max-width: 60ch;
    text-align: center;
}
.static .links {
    padding: 1em;
}
.static .links i {
    cursor: pointer;
}
.static .links > * {
    margin: 0 .5em;
}
.deck {
    flex-wrap: wrap;
}
.card {
    margin: 1em .5em;
    height: 380px;
    width: 300px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.top {
    height: 30px;
}
.content {
    height: 260px;
    padding: 0 .5em;
}
.content .front {
    height: 100%;
    width: 100%;
}
.content .image {
    height: 100%;
    width: 100%;
}
.content img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
h2,
.base .button {
    padding: .5em 1.5em;
    font-size: 1.3em;
    font-weight: 500;
    border-radius: 0;
}
.base {
    padding: .5em 0;
}
.measureSub {
    align-items: flex-end;
}
.ingredientSub {
    align-items: flex-start;
}

/* FOOTER
---------------------------------------------------
*/
footer {
    bottom: 0;
}

/* MEDIA QUERY
---------------------------------------------------
*/
@media screen and (max-width: 700px) {
    nav {
        border-radius: 0;
        margin-top: 0;
    }
    .buttons {
      display: none;
    }
    .burger-menu {
        display: block;
    }
}
@media screen and (max-width: 450px) {
    .burger-menu {
        display: none;
    }
}

/* ===== Select Box ===== */
.sel {
    font-size: 1rem;
    display: inline-block;
    margin: 3em 2em;
    width: 350px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }
  
  .sel::before {
    position: absolute;
    content: '\f063';
    font-family: 'FontAwesome';
    font-size: 2em;
    color: #FFF;
    right: 20px;
    top: calc(50% - 0.5em);
  }
  
  .sel.active::before {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  
  .sel__placeholder {
    display: block;
    font-family: 'Quicksand';
    font-size: 2.3em;
    color: #838e95;
    padding: 0.2em 0.5em;
    text-align: left;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    visibility: visible;
  }
  
  .sel.active .sel__placeholder {
    visibility: hidden;
  }
  
  .sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;
    content: attr(data-placeholder);
    visibility: hidden;
  }
  
  .sel.active .sel__placeholder::before {
    visibility: visible;
  }
  
  .sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    background-color: #FFF;
    width: calc(100% + 8px);
    box-sizing: border-box;
  }
  
  .sel.active .sel__box {
    display: block;
    -webkit-animation: fadeInUp 500ms;
            animation: fadeInUp 500ms;
  }
  
  .sel__box__options {
    display: list-item;
    font-family: 'Quicksand';
    font-size: 1.5em;
    color: #838e95;
    padding: 0.5em 1em;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .sel__box__options::after {
    content: '\f00c';
    font-family: 'FontAwesome';
    font-size: 0.5em;
    margin-left: 5px;
    display: none;
  }
  
  .sel__box__options.selected::after {
    display: inline;
  }
  
  .sel__box__options:hover {
    background-color: #ebedef;
  }
  
  /* ----- Select Box Black Panther ----- */
  .sel {
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  }
  
  .sel--black-panther {
    z-index: 3;
  }
  
  /* ----- Select Box Superman ----- */
  .sel--superman {
  /*   display: none; */
    z-index: 2;
  }
  
  /* ===== Keyframes ===== */
  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 20px, 0);
              transform: translate3d(0, 20px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 20px, 0);
              transform: translate3d(0, 20px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  
  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }


  select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }