/* CONTAINERS
---------------------------------------------------
*/
body {
    background-color: var(--secondary-clr);
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: sans-serif;
}
.container {
    min-height: 100vh;
    padding-top: 6em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--bg-color);
    width: 100%;
    margin: auto;
    position: relative;
}

/* NAVIGATION
---------------------------------------------------
*/
nav {
    top: 0;
    padding: 1em;
    margin-top: 1em;
    border-radius: 25px;
    background-color: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
h1 {
    font-style: italic;
    color: var(--primary-clr);
    font-weight: 600;
    font-size: 2em;
}

/* search-bar */
.search-bar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    border-radius: 2500px;
    padding: .5em 1em;
}
.search-bar:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px;
}
.search-bar i {
    padding-right: .25em;
    color: var(--primary-clr);
}
.search-bar input::placeholder {
    color: var(--primary-clr);
}

/* burger-menu */
.burger-menu {
    display: none;
    font-size: 2em;
    color: var(--primary-clr);
    cursor: pointer;
}
.burger-menu:hover {
    color: var(--secondary-clr);
}

/* MAIN
---------------------------------------------------
*/
.deck {
    flex-wrap: wrap;
}
.card {
    margin: 1em .5em;
    height: 380px;
    width: 300px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.top {
    height: 30px;
}
.content {
    /* NON TOCCARE COJONE */
    height: 260px;
    padding: 0 .5em;
}
.content .front {
    height: 100%;
    width: 100%;
}
.content .image {
    height: 100%;
    width: 100%;
}
.content img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
h2,
.base .button {
    padding: .5em 1.5em;
    font-size: 1.3em;
    font-weight: 500;
    border-radius: 0;
}
.base {
    padding: .5em 0;
}
.measureSub {
    align-items: flex-end;
}
.ingredientSub {
    align-items: flex-start;
}

/* FOOTER
---------------------------------------------------
*/
footer {
    bottom: 0;
}

/* MEDIA QUERY
---------------------------------------------------
*/
@media screen and (max-width: 700px) {
    nav {
        border-radius: 0;
        margin-top: 0;
    }
    .buttons {
      display: none;
    }
    .burger-menu {
        display: block;
    }
}
@media screen and (max-width: 450px) {
    .burger-menu {
        display: none;
    }
}
